@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 

*{
    font-family: "Open Sans", sans-serif;
}

@import "tailwindcss";

/* Hide number input arrows for Chrome, Safari, Edge */
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows for Firefox */
.no-arrow[type='number'] {
  -moz-appearance: textfield;
}
